.top-trends{
    padding: 30px 0;
    
    
   
}

.top-trends .title{
    display: flex;
    justify-content: center;
    
}
.top-trends .top-trends-items{
   
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
    flex-grow: 1;
  flex-shrink: 1;
  gap: 10px;
  padding: 30px 0;
}


   

.circle {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    
    box-shadow: 0 4px 8px rgba(150, 147, 147, 0.1);
  }
  
  
  .circle img {
    width: auto;
    height: 70%;
    margin: 0 auto 5px auto;
    object-fit: cover; 
  }
  
  .shop {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8;
    
  }
  